# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
/build
dist/
/out

# config
docs/
results/

# misc
.DS_Store
npm-debug.log*
/.vscode-test

# transpilation
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map